<!DOCTYPE html>
{% extends "base.html" %}

{%block head%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}Detalle Funcionario{% endblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/miestilo.css' %}">

</head>
{%endblock head%}




{% block content %}
    <body>
        
        <div class="card mx-auto" style="width: 55rem;" >
            
            <div class="card-body">
                <h5 class="card-title text-center" >Identificación del funcionario</h5>
                <div class="row  mb-3 p-3 mb-2 bg-success-subtle text-success-emphasis" >
                    <label for="inputEmail3" class="col-sm-4 col-form-label">Codigo Funcionario: </label>
                    <div class="col-sm-6 bg-success text-white col-form-label">
                      {{funcionario.codigo_funcionario}}
                    </div>
                    <label for="inputEmail3" class="col-sm-4 col-form-label">Nombre Funcionario: </label>
                    <div class="col-sm-6 bg-success text-white col-form-label">
                      {{funcionario.nombre_funcionario}}
                    </div>
                    <label for="inputEmail3" class="col-sm-4 col-form-label">C.U.A Funcionario: </label>
                    <div class="col-sm-6 bg-success text-white col-form-label">
                      {{funcionario.cua_funcionario}}
                    </div>
                    <label for="inputEmail3" class="col-sm-4 col-form-label">Grado Funcionario: </label>
                    <div class="col-sm-6 bg-success text-white col-form-label">
                      {{funcionario.grado_funcionario}}
                    </div>
                    <label for="inputEmail3" class="col-sm-4 col-form-label">Departamento: </label>
                    <div class="col-sm-6 bg-success text-white col-form-label">
                      {{funcionario.departamento_funcionario}}
                    </div>
                    <label for="inputEmail3" class="col-sm-4 col-form-label">Estado </label>
                    <div class="col-sm-6 bg-success text-white col-form-label">
                      {{funcionario.estado_funcionario}}
                    </div>
                    
                    
                </div>
                <center> <p ><a href="{% url 'home' %}" class="btn btn-primary display:flex justify-content-center" >Regresar al Inicio</a></p> </center>
                
            </div>
        </div>  
    </body>
    
{% endblock content %}
</html>