<!DOCTYPE html>
{% extends "base.html" %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle Funcionario</title>
    


</head>
{% block content %}
    <body>
        <div class="container">
            <h1 class="text-center">Detalle Funcionario</h1>
            <div class="row gx-5">
                <div>Id Funcionario: {{funcionario.id}} </div>
                <div>Codigo Funcionario: {{funcionario.codigo_funcionario}} </div>
                <div>Nombre Funcionario: {{funcionario.nombre_funcionario}} </div>
                <div>C.U.A: {{funcionario.cua_funcionario}} </div>
                <div>Grado: {{funcionario.grado_funcionario}} </div>
                <div>Departamento: {{funcionario.departamento_funcionario}} </div>
                <div>Estado: {{funcionario.estado_funcionario}} </div>
            </div>
            <a href="{% url 'index' %}">Regresar al Inicio</a>
        </div>    
    </body>
{% endblock content %}
</html>