<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle Funcionario</title>
</head>
<body>
    <h1>Detalle Funcionario</h1>
    <div>Id Funcionario: {{funcionario.id}} </div>
    <div>Codigo Funcionario: {{funcionario.codigo_funcionario}} </div>
    <div>Nombre Funcionario: {{funcionario.nombre_funcionario}} </div>
    <div>Grado Funcionario: {{funcionario.grado_funcionario}} </div>
    <div>Departamento Funcionario: {{funcionario.departamento_funcionario}} </div>
    <a href="{% url 'index' %}">Regresar al Inicio</a>
</body>
</html>