<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}Consulta C.U.A{% endblock %}

</head>

{%block content%}
    <body>
        <center>
            <div class="text-left row border justify-content-center align-items-center" style="max-width:300px">
                <p class="col-md-3 justify-content-center ">
                  <h4 class="container text-center pt-5">Consulta CUA Funcionario    </h4>
                </p>
                {% if mensaje_error %}
                    <div class="alert alert-danger">
                        {{ mensaje_error }}
                    </div>
                    <a href="/verificar_codigo_cua">
                        <input class="btn btn-success" type="submit" value="Volver">
                    </a>
                {% else %}
                    <form action="/verificar_codigo_cua" method="POST">
                        {% csrf_token %}
                        {{ codigo_form.as_p }}
                        <center><button class="btn btn-success" type="submit"> Consultar</button></center>
                    </form>
                {% endif %}
            </div>
        </center>
    </body>
{%endblock content%}