<!DOCTYPE html>
{% extends "base.html" %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Funcionario</title>
</head>
{% block content %}
    <body>
        <div class="card mx-auto bg-success text-color=white" style="width:30rem ">
            <div class="container">
            <h1 class="card-title center">Ingresar Funcionario</h1>
                <form method="POST">
                    <table>
                        {{formaFuncionario}}
                    </table>
                    <button type="submit"> Enviar </button>
                    {% csrf_token %}
                </form>
            </div>
        </div>
</body>
{% endblock content %}
</html>