<!DOCTYPE html>
{% extends "base.html" %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Funcionario</title>
</head>
{% block content %}
    <body>
        <div class="card mx-auto border-success border-2 text-color=white" style="width:50rem ">
            <div class="container">
            <h1 class="card-title" style="color: darkgreen; text-align: center">Ingresar Funcionario</h1>
                <form method="POST">
                    <table>
                        {{formaFuncionario}}
                    </table>
                    <center><button type="submit" class="btn btn-success mx-auto "> Enviar </button></center>
                    {% csrf_token %}
                </form>
            </div>
        </div>
</body>
{% endblock content %}
</html>