<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingrese Codigo Funcionario</title>
</head>
{%block content%}

  <body>
    <div class="container">
      <form action="/verificar_codigo_cua/ingresocua" method="POST">
        {% csrf_token %}
        <div class="row border justify-content-center align-items-center">
            <p class="col-md-3 justify-content-center ">
              <h4>Ingreso CUA Funcionario</h4>
            </p>
            <div class="col-auto">
                <label for="ingresocua" class="col-form-label">Código Funcionario</label>
            </div>
            <div class="col-auto">
                <span id="HelpInline" class="form-text">
                    (Debe tener formato 999999-X)
                </span> 
            </div>
        </div>
      </form>
    </div>
  </body>
{%endblock content%}
</html>