<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingrese Codigo Funcionario</title>
</head>
{%block content%}
    <body>
        <div id="id01" class="w3-modal">
            <div class="w3-modal-content w3-animate-zoom">
            
              <header class="w3-container w3-teal">
                <span onclick="document.getElementById('id01').style.display='none'"
                class="w3-button w3-display-topright">&times;</span>
                <h3>Ingreso Codigo Funcionario</h3>
              </header>
          
              <div class="w3-container">
                <p>Some text..</p>
                <p>Some text..</p>
              </div>
          
              <button type="submit" class="btn btn-outline-success"> Enviar </button>
              <footer class="w3-container w3-teal">
                <p>Modal Footer</p>
              </footer>
          
            </div>
          </div>
    </body>
{%endblock content%}
</html>