<!DOCTYPE html>
{% extends "base.html" %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    
</head>

<body>
    {% block content %}
    <h1 class="text-center"> Sistema de administracion CUA</h1>

    
    <div class="container">
        <table class="table table-bordered table-striped" border="1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Codigo Funcionario</th>
                    <th>Nombre</th>
                    <th>Grado</th>
                    <th>CUA</th>
                    <th>Departamento</th>
                    <th>Estado</th>
                    <th>  </th>
                    <th>  </th>
                </tr>
            </thead>
            <tbody>
                {%  for funcionario in funcionarios %}
                <tr>
                    <td>{{funcionario.id}}</td>
                    <td>{{funcionario.codigo_funcionario}}</td>
                    <td>{{funcionario.nombre_funcionario}}</td>
                    <td>{{funcionario.grado_funcionario}}</td>
                    <td type=hidden>{{funcionario.cua_funcionario}}</td>
                    <td>{{funcionario.departamento_funcionario}}</td>
                    <td>{{funcionario.estado_funcionario}}</td>
                    <td><a class="btn btn-outline-success" href="detalle_funcionario/{{funcionario.id}}" role="button">Ver</a></td>
                    <td><a class="btn btn-outline-success" href="editar_funcionario/{{funcionario.id}}" role="button">Editar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
    <div>
        Numero de Funcionarios: {{no_personas}}
    </div>
    <div>
        <a type="button" class="btn btn-success" href="nuevo_funcionario" role="button">Agregar Funcionario</a>
    </div>
    {% endblock content %}
</body>
</html>