<!DOCTYPE html>
<html lang="es">
    {% extends "base.html" %}   
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Funcionario</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    
    
</head>
{% block content %}
<body>
    <div class="text-center opacity-25 ">
        <img src={% static "img/logolimpio.png" %} > "  <!-- Cambia la ruta según tu imagen -->
        
    </div>
</body>
{% endblock content %}
</html>